[loggers]
keys=root

[handlers]
keys=stdout,file_debug,file_info

[formatters]
keys=default

[logger_root]
level=DEBUG
handlers=stdout,file_debug,file_info

[handler_stdout]
class=FileHandler
formatter=default
args=('/dev/null', 'w')

[handler_file_debug]
class=FileHandler
formatter=default
args=('/home/moonz/.local/share/moo.debug.log', 'w')

[handler_file_info]
level=INFO
class=FileHandler
formatter=default
args=('/home/moonz/.local/share/moo.log', 'w')

[formatter_default]
format=[%(asctime)s %(name)s.%(levelname)s] %(message)s
datefmt=%D %T
class=logging.Formatter
