<moo>
  <signal name="StateChange" interface="org.freedesktop.NetworkManager">
    <arg name="newstate" />
    <action type="print" expr="%newstate" />
    <action type="check" expr="%newstate == 3" />
    
    <action type="async">
      <action type="method" service="org.gnome.feed.Reader" path="/org/gnome/feed/Reader" name="SetOnline">
        <arg type="b" value="%1" />
      </action>
      
      <action type="method" service="org.gajim.dbus" path="/org/gajim/dbus/RemoteObject" name="change_status">
        <arg value="online" />
        <arg value="%s()" />
        <arg value="%s()" />
      </action>
      
      <action type="sync">
        <action type="command" cmd="claws-mail">
          <arg value="--online" />
        </action>
        
        <action type="command" cmd="claws-mail">
          <arg value="--receive-all" />
        </action>
      </action>
    </action>
  </signal>
  
  <signal name="StateChange" interface="org.freedesktop.NetworkManager">
    <arg name="newstate" />
    <action type="print" expr="%newstate" />
    <action type="check" expr="%newstate in (1,4)" />
    
    <action type="async">
      <action type="method" service="org.gnome.feed.Reader" path="/org/gnome/feed/Reader" name="SetOnline">
        <arg value="%False" />
      </action>
      
      <action type="method" service="org.gajim.dbus" path="/org/gajim/dbus/RemoteObject" name="change_status">
        <arg value="offline" />
        <arg value="%s()" />
        <arg value="%s()" />
      </action>
      
      <action type="command" cmd="claws-mail">
        <arg value="--offline" />
      </action>
    </action>
  </signal>
</moo>